@font-face {
    font-family: Raleway;
    src: local('ralewaybold'),
      url(Raleway-ExtraBold.woff2) format('woff2'),
      url(Raleway-ExtraBold.woff) format('woff');
    font-weight: bold;
    font-display: swap;
  }
  
  @font-face {
    font-family: Raleway;
    src: local('ralewayregular'),
      url(Raleway-Regular.woff2) format('woff2'),
      url(Raleway-Regular.woff) format('woff');
    font-weight: normal;
    font-display: swap;
  }